p::first-line {
    color: blueviolet;
}
/*p::first-letter {
    color: forestgreen;
    font-size: 3rem;
    font-weight: 600;
}*/
p::before {
    content: '!!!';
    color: red;
}
p::after {
    content: '***';
    color: rgb(43, 255, 0);
}
li {
    list-style: none;
    margin-bottom: 10px;
}
.first li::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    background-color: deeppink;
    border-radius: 999px;
    margin-right: 20px;
}
.first li::after {
    content: '>>>>>>>>>';
    color: crimson;
}
.second li::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    background-color: rgb(90, 236, 134);
    border-radius: 999px;
    margin-right: 20px;
}
.second li::after {
    content: '-----------';
    color: rgb(23, 20, 220);
}
.third li::marker {
    color: red;
    font-size: 2rem;
}
a::after {
    content: '😎';
}
.second:hover {
    color: darkred;
}
.second li:hover {
    background-color: aqua;
}

.new {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: orangered;
}
a:active {
    background-color: aqua;
}
input {
    border: 2px solid rgb(247, 25, 36);
    outline: none;
}
input:focus {
    border: 2px solid rgb(238, 42, 212); 
}



[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: -999px;
}
span {
    display: flex;
    align-items: center;
    margin: 10px; 0;
}
[type="checkbox"] + span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: aqua;
    border: 2px solid red;
    border-radius: 3px;
    margin-right: 10px;
}
[type="checkbox"]:checked + span {
    color: rgb(248, 30, 255);
}
[type="checkbox"]:checked + span::before {
    background-color: dodgerblue;
}

:root {--font-color-primary: red;
--background-color-primary: rgb(10, 243, 243);
--font-color-first: green;
--font-color-second: blue;
}

ul.first {
    color: var(--font-color-first);
    background-color: var(--background-color-primary);
}

ul.third {
    color: var(--font-color-primary);
}

ul.second {
    color: var(--font-color-second);
}

.bem__smile::after {
    content: '🤩';
}