/*первая строка*/
p::first-line {
    color: blueviolet;
}
/*p::first-letter {
    color: forestgreen;
    font-size: 3rem;
    font-weight: 600;
}*/

/*добавляем контент до и после первой строки*/
p::before {
    content: '!!!';
    color: red;
}
p::after {
    content: '***';
    color: rgb(43, 255, 0);
}

/*кастомизация списка*/
li {
    list-style: none;
    margin-bottom: 10px;
}
.first li::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    background-color: deeppink;
    border-radius: 999px;
    margin-right: 20px;
}
.first li::after {
    content: '>>>>>>>>>';
    color: crimson;
}
.second li::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    background-color: rgb(90, 236, 134);
    border-radius: 999px;
    margin-right: 20px;
}
.second li::after {
    content: '-----------';
    color: rgb(23, 20, 220);
}

/*МАРКЕР Возвращаем стандартное знае=чение с точками (т к ранее убрали точки для всех ли), выставляем цвет маркера*/
.third__element {
    list-style: initial;
}
.third li::marker {
    color: red;
    font-size: 2rem;
}

/*добавление смайла в конец ссылки*/
a::after {
    content: '😎';
}

/*стилизация 2го списка*/
.second:hover {
    color: darkred;
}
.second li:hover {
    background-color: aqua;
}

/*стилизация новый ссылки*/
.new {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: orangered;
}
a:active {
    background-color: aqua;
}

/*стилизация поля ввода инпут*/
input {
    border: 2px solid rgb(247, 25, 36);
    outline: none;
}
input:focus {
    border: 2px solid rgb(238, 42, 212); 
}


/*кастомизация чекбокса*/

/*?*/
label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  /*скрываем стандартный чекбокс*/
  input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
    left: -9999999px;
  }
  
  /* ? */
  .checker {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px red;
  }
  
  .name {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  /*рисуем свой чекбокс*/
  .name::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px red;
  }
  
  input[type="checkbox"]:checked + .name::before {
    content: '🗸';
    color: black;
  }

  /*задаем стиль тексту и чекбоксу при клике*/
[type="checkbox"]:checked + span::before {
    background-color: rgb(255, 251, 30);
}
span:active {
    color: rgb(255, 30, 255);
}
[type="checkbox"]:checked + span {
    color: rgb(255, 64, 30);
}

/*введение и распаковка переменной и установление через нее цвета текста*/
:root {--font-color-primary: red;
--background-color-primary: rgb(10, 243, 243);
--font-color-first: green;
--font-color-second: blue;
}

ul.first {
    color: var(--font-color-first);
    background-color: var(--background-color-primary);
}

ul.third {
    color: var(--font-color-primary);
}

ul.second {
    color: var(--font-color-second);
}

.bem__smile::after {
    content: '🤩';
}