
header, nav, ul {
    width: 100%;
    height: auto;
    padding: 0 100px;
}

/*устанавливаем отступ блока nav - не получилось. Получилось только когда запихала padding в верхний стиль */
nav {
    padding: 0 100px;
}

/*Устанавливаем границы блока ul*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /*background-color: bisque;*/
}

/*оборачиваем ul во флекс-контейнер*/
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 940.6px;
    height: 87.94px;
    border-bottom: 1px solid black
}

/*Это надо?*/
li {
    margin: 156;
}