@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap'); /*шрифт raleway*/

/*придаем блоку полупрозрачную заливку, полупрозрачность коэфициент 0,5 https://fonts.google.com/ - шрифты*/
p.one {
    color: blueviolet;
    background-color: rgba(20, 117, 136, 0.5);
    width: 500px;
    height: 500px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    box-shadow: 10px 10px 15px 5px rgb(117, 224, 117);
    padding: 20px;
    margin: 100px;
    font-family: heebo;/*семейство шрифта/google*/
    font-size: 20px; /*размер шрифта*/
    font-weight:600; /*жирность?*/
    text-transform:uppercase; /*начертание: все буквы большие*/
    text-align: center; /*выравнивание*/
    text-shadow: 5px 5px 3px rgba(255, 0, 0, 0.3) ;/*тень: смещение по оси х, смещение по оси у, размытие, цвет*/
    text-decoration: underline;/*подчеркивание, зачеркивание и тд*/
    line-height: 2;/*расстояние между строками в цифрах раз или процентах или пикселях*/
}

p.two {
    color: blueviolet;
    background-color: rgba(20, 117, 136, 0.5);
    width: 500px;
    height: 500px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    box-shadow: 10px 10px 15px 5px rgb(117, 224, 117);
    padding: 20px;
    margin: 100px;
    font-family: oswald;/*семейство шрифта/google*/
    font-size: 20px; /*размер шрифта*/
    font-weight: 400; /*жирность?*/
}

p.three {
    color: blueviolet;
    background-color: rgba(20, 117, 136, 0.5);
    width: 500px;
    height: 500px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    box-shadow: 10px 10px 15px 5px rgb(117, 224, 117);
    padding: 20px;
    margin: 100px;
    font-family: Raleway;/*семейство шрифта/google*/
    font-size: 20px; /*размер шрифта*/
    font-weight: 400; /*жирность?*/
    font-style: italic; /*курсив?*/
}
p.four {
    color: rgb(5, 163, 29);
    background-color: rgba(20, 117, 136, 0.5);
    width: 500px;
    height: 500px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    box-shadow: 10px 10px 15px 5px rgb(117, 224, 117);
    padding: 20px;
    margin: 100px;
    font-family: DancingScript;/*семейство шрифта/local*/
    font-size: 20px; /*размер шрифта*/
    font-weight: 400; /*жирность?*/
}

/*кастомизация ссылки*/
a {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-style: dashed;
}

/*кастомизация ссылки второй вариант*/
a {
    text-decoration:none;
    border-bottom: 2px solid red;
    color: rgb(240, 15, 15);
}

/*кастомизация ссылки третий вариант*/
a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    border-bottom: initial; /*убираем заданную во 2 варианте красную полоску*/
}
a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: aquamarine;
    bottom: 0;
    left: 0;
    border-radius: 999px;
    transition: all .7s ease-out;
    opacity: 0;
}

a:hover::after {
    width: 100%;
    opacity: 1;
}

/*внутренняя тень = inset: смещение по х, смещение по у, радиус размытия,ширина, цвет/ рамка отодвигает тень / 2 тени пишутся через запятую */
div {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 999px;
    margin: 200px;
    border: 3px solid red;
    background: linear-gradient(300deg, rgba(2,0,36,1)0%, rgba(9,9,121,1)35%, rgba(0,212,255,1)100%); /*градиент*/
    box-shadow: inset 20px 20px 40px 3px rgb(237, 20, 20), 20px 20px 10px 5px rgba(129, 225, 172, 0.5) ;
}