* {
color: blue;
}
h1 {
    color: brown;
    background-color: blanchedalmond;
}
h2 {
    color: rgb(226, 121, 46);
}
.predators {
    color: rgb(243, 21, 143);
}
.herbivores {
    color: darkgreen;
}
.title {
    color: rgb(14, 175, 55);
}
#pets {
    color: rgb(125, 12, 129);
    background-color: darksalmon;
}
#big-pets {
    color: rgb(228, 188, 12);
    background-color: aquamarine;
}
[type="text"] {
    color: blueviolet;
    background-color: cadetblue;
}
span {
    color: blue;
}
div span {
    color: red;
}
.мамы .дети {
    color: blueviolet;
}
div>p {
    background-color: aqua;
}
.дети + .дети {
    background-color: rgb(149, 221, 243) !important;
}
span:first-child {
    background-color: rgb(209, 130, 192);
}
span:last-child {
    background-color: rgb(228, 241, 51);
}
li:nth-child(2) {
    background-color: rgb(95, 241, 51);
}
li:nth-child(odd) {
    background-color: rgb(128, 228, 241);
}
li:nth-child(even) {
    background-color: rgb(136, 124, 241);
}